@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;1,400;1,600&display=swap');

* {
    box-sizing: border-box;
}

nav {
    background-color: #5d5b6a;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

.jumbotron {
    padding: 60px;
    font-size: 30px;
    background: url("../image/back.jpg") no-repeat center;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 5px #000000;
    background-size: cover;
    
}

header {
    display: inline;
}

main {
    padding: 20px;
    overflow: auto;
    background-color: #f5cdaa;
}

#content {
    float: left;
    width: 75%;
}

body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
}

.profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: white;   
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.profile img {
    width: 200px;
}

.profile aside {
    text-align: center;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

footer {
    padding: 20px;
    color: #CFB495;
    background-color: #5d5b6a;
    text-align: center;
    font-weight: bold;
}

h2 {
    color: #5d5b6a;
}

h3 {
    color: coral;
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
        
    }
 }

 .responsive {
     height: auto;
     width: 100%;
     max-width: 500px;
     opacity: 1;
     display: block;
     transition: .5s ease;
     backface-visibility: hidden;
 }

 .responsive:hover {
     opacity: 0.3;
 }

 footer {
    padding: 20px;
    color: black;
    background-color: #5d5b6a;
    text-align: center;
    font-weight: bold;
 }